.topNavbar {
    background: none;
}
.topNavbar a {
    color: #626868;
}

.topNavbar a:hover {
    color: #939196;
}

body {
    background-color: #fffefe;

}
.homePage {
    background-color: #343A40;
    min-height: 100vh;
    
}

.img-logo {
    display: block;
    margin: 0 auto;
    width: 20%;
    padding:  110px 0px 0px 0px;
}

h1 {
    font-size: 24px;
    font-weight: 350;
    padding-bottom: 70px;
    text-align: left;
}

h2 {
    color: #f2f2f2;
    text-align: center;
    padding: 50px;
    font-family: 'Cedarville Cursive', cursive;
}

.navbar {
    font-family: 'Oswald', sans-serif;
}

.pages-container {
    background-color: #fffefe;
    box-sizing: content-box;
    width: 80%;
    padding: 10px;
    margin: 50px 100px;
}

.photoAboutSection {
    width: 300px;
    padding: 15px;
}

.logo-about-page {
    width: 150px;
}
.textFindUs {
    padding-bottom: 100px;
}

.marginPhoto {
    padding-top: 10px;
}
