
a {
    color: #939196;
}

 a:hover {
    color: #DEDCE2;
    text-decoration: none;
}

body {
    background-color: #fffefe;

}
.homePage {
    background-color: #343A40;
    min-height: 100vh;
    text-align: center;
}

.img-logo {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding:  110px 0px 0px 0px;
}

h1 {
    font-size: 24px;
    font-weight: 350;
    padding-bottom: 70px;
    
}
.homePage-link {
    padding: 20px;


}
h2 {
    color: #DEDCE2;
    text-align: center;
    padding: 50px;
    font-family: 'Cedarville Cursive', cursive;
}

.navbar, .homePage-link {
    font-family: 'Oswald', sans-serif;
}

.pages-container {
    background-color: #fffefe;
    box-sizing: content-box;
    width: 80%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    
}

.photoAboutSection {
    width: 400px;
    padding-bottom: 40px;
    padding-top: 40px;
    
}
.text-about {
    text-align: center;
    padding-bottom: 70px;
}


.text-about p {
    font-size: 18px;
}
.textHighlight {
    font-style: italic;
    font-weight: 600;
}

