{% extends "layout.html" %}

{% block title %}
{{ heading }}
{% endblock %}

{% block content %}
{% include 'partials/topNavbar.html' %}

<div class="container-fluid pages-container">
    <h1 class="text-about">
        We are a food trailer based in Western Queensland, specialising in gourmet cheese from Australia
        and around the world
    </h1>
    <div class="row content-block">
        <div class="col-sm-4 ">
            <img src="{{ url_for('static', filename='images/cheese.png')}}" alt="two types of cheese"
                class="img-fluid photos-about-section" />

        </div>
        <div class="col-sm-4 ">
            <img src="{{ url_for('static', filename='images/raclette.jpg')}}" alt="melted raclette cheese"
                class="img-fluid photos-about-section " />

        </div>
        <div class="col-sm-4 ">
            <img src="{{ url_for('static', filename='images/ted.png')}}" alt="serving customers from a good trailer"
                class="img-fluid photos-about-section" />
        </div>
    </div>
    <div class="row text-about">

        <p>
            In our little van, you can find many types of
            <span class="text-highlight">fresh</span> Australian and international <span
                class="text-highlight">cheese</span>,
            Next level <span class="text-highlight">grilled raclette
            </span>cheese, just how the Swiss do it! Local olives, quince
            paste, French crisps
            <span class="text-highlight">and more.. </span> a perfect way to end the
            week!</p>
    </div>
    <div class="row text-about">
        <h5 class="text-highlight">
            Find us at Thomas Jack Park, Dalby QLD from 3pm most Fridays
        </h5>
    </div>
    {% include 'partials/bottomNavbar.html' %}


</div>

{% endblock %}