{% extends "layout.html" %}
{% block title %}
{{ heading }}
{% endblock %}

{% block content %}

<div class="home-page">
  <img src="{{ url_for('static', filename='images/cestcheese-black-background.png')}}" alt="c'est cheese logo"
    class="img-logo img-fluid" />

  <h2>c'est [ pronounced say ] - French for `it is`</h2>

  {% for item in topNavbar %}
  <a class="home-page-link" href="{{item.itemURL}}" target="_blank">{{item.itemText}}</a>
  {% endfor %}

</div>

{% include 'partials/bottomNavbar.html' %}
{% endblock %}